<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Gab</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<header>
		<nav>
			<% if current_user %>
			<span>Hello <%= current_user.fname %> </span> |
			<a href="/logout">Logout</a>
			<% else %>
				<a href="/">Login</a> | <a href="/signup">Signup</a>
			<% end %>
		</nav>
	</header>

	<div class="main">
		<!-- Renders notices from individual pages -->
		<div class="notice">
			<h3> <%= flash[:notice]%> </h3>
		</div>

		<!-- Renders content from individual pages -->
		<div class="content">
			<%= yield %>
		</div>
	</div>
</body>

</html>