<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Gab</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<header>
		<nav>
			<% if current_user %>
			<br>

				<span>Hello <%= current_user.fname %> |
					<div class="heading2">
					<a href="/logout">Logout</a> |
				</div>

				<div class="heading">
					<a href="/edit">Edit Your Account</a> |
					<a href="/delete">Delete Your Account</a> |
				</div>

				</span>
			
			

				<div class="sidebar">
					<a href="/feed">See What All of Our Users are Gabbing About</a> |
					<a href="/user">Your Profile</a> |
				<div>

				<% else %>

			
				<a href="/">Login</a> | <a href="/signup">Signup</a>

				<% end %>
			
		</nav>
	</header>

	<div class="main">
		<!-- Renders notices from individual pages -->
		

			<div class="notice">
			<h3> <%= flash[:notice] if flash[:notice] %> </h3>
			</div>

		

		<!-- Renders content from individual pages -->
			

			<div class="content">
				<%= yield %>
			<div>
		
	</div>
	
</body>

</html>