<h1>Make a New Post Below!</h1>

<form action="/post" method="POST">

	<label type="text" for="body">Body </label>
	<input type="text" name="body" required></input>

	<input type="submit" value="Get Gabbing"></input>

</form>