<h1>Sign Up!</h1>

<form action="/signup" method="POST">

	<label type="text" for="fname">First Name </label>
	<input type="text" name="fname" required></input>

	<label type="text" for="lname">Last Name </label>
	<input type="text" name="lname" required></input>

	<label type="text" for="email">Email </label>
	<input type="email" name="email" required></input>

	<label type="text" for="password">Password </label>
	<input type="password" name="password" required></input>

	<input type="submit" value="submit"></input>

</form>

